:root {
    --header-text-color: #757575;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --main-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --logo-color: #2196f3;
    --logo-second-color: #212121;
    --logo-third-color: #ffffff; 
    --accent-color: #2196f3;
    --main-btn-color: #2196f3;
    --footer-bcg-color: #2f303a;
--portfolio-button-color: #f5f4fa;
}

body  {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/*------------------------------------------------HEADER------------------------*/

.container{
    width: 1200px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

.header-navigation {
    display: flex;
}

.header-menu {
    display: flex; 
}

.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   color: var(--logo-color);
}

.logo-second-color {
    color:var(--logo-second-color);
}

.logo-third-color {
    color:var(--logo-third-color);
}

.header-link { 
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
margin-left: 50px;
color: #212121;
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}


.header-item {
    font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: var(--second-title-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    margin-left: 50px;
    
    color: var(--header-text-color);
}
.header-tel:hover,
.header-tel:focus {
color: var(--accent-color);
}


.header-address {
    font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
margin-left: 50px;
color:var(--header-text-color);
}

.header-address:hover, 
.header-address:focus {
    color: var(--accent-color) 
}

/*------------------------------------------------main------------------------*/

.motto-container {
    width: 1600px;
height: 600px;
left: 0px;
top: 80px;
text-align: center;
margin-bottom: 94px;
    background-color: var(--footer-bcg-color);}

.title-one {
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 452px;
    padding-right: 452px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-title-color);
}

.main-btn {
    padding: 10px 32px;
    background-color: var(--main-btn-color);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
color: #ffffff;
cursor: pointer;
}
.main-btn:active {
    background-color: var(--second-title-color);
}
/*------------------------------------------------HERO------------------------*/
.hero-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;
}

.hero-container {
    width: 1170px;

}

.hero-item{
    margin-left: 30px;
    margin-bottom: 10px;
}
.title-three {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-bottom: 10px;
text-transform: uppercase;

color: var(--second-title-color);
}
.hero-text {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.container {
    width: 1170px;
    text-align: center;
    margin-left: 215px;
}
.title-two {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--second-title-color);
}


.team-container {
    width: 1600px;
    text-align: center;
    background-color:var(--portfolio-button-color); 
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding-left: 215px;
    padding-right: 215px;
}
.team-item {
    width: 270px;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto
  }

.title-four {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--second-title-color);
}
.team-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
/*------------------------------------------ FOOTER -------------------------*/
.footer-container {
    display: inline-block;
    background-color: var(--footer-bcg-color);
    width: 1600px;
    padding-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-address {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-title-color);
margin-bottom: 9px;
}

.footer-address:hover, 
.footer-address:focus {
color: var(--accent-color) 
}
.footer-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--second-text-color); 
   margin-bottom: 9px;
}
.footer-mail:hover, 
.footer-mail:focus {
    color: var(--accent-color) 
}

.footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
   margin-bottom: 9px;
}
.footer-tel:hover, 
.footer-tel:focus {
    color: var(--accent-color); 
}
/*----------------------------WORKS--------------------------*/
.portfolio {
    width: 1170px;
    margin-top: 94px;
    padding-left: 215px;
}
.works-list {
    margin-top: 88px;
}
.works-button {
height: 38px;
background:var(--portfolio-button-color);
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
border-radius: 4px;
margin-left: 8px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
}

.works-button:hover, 
.works-button:focus {
  background-color:var(--accent-color) 
}

.works-button-list {
    display: flex;
    align-items: center;
}

.works-title {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-top: 20px;
margin-bottom: 4px;
margin-left: 24px;
}

.works-text {
    font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
margin-left: 24px;
margin-right: 24px;
color: var(--header-text-color)
}
